$primary:linear-gradient(90deg, #A1C4FD 0%, #C2E9FB 100%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li{
    list-style: none;
}

a:link, a:visited{
    text-decoration: none;
    color: #333;
}
.container{
    width: 1220px;
    margin: 0 auto;

    &.flex-center{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &.bg{
        background-color: skyblue;
        border-radius: 10px;
        background-size: cover;
        background-position: center;
        &.com{
            background-color: #008b6b;
            color: white;
        }
        &.comm{
            background-color: gold;
        }
    }
    .visualProduct{
        display: flex;
        gap: 10px;
        li{
            width: 25%;
            position: relative;
            border-radius: 10px;
            overflow: hidden;

            img{display: block; width: 100%;}
            a{
                display: block;
                background: skyblue;
            }
            .bodyWrap{
                position: absolute;
                bottom: 10px;
                background: linear-gradient(147deg, #CD9CF2 -1.43%, #F6F3FF 103.36%);
                width: 100%;
                padding: 5px 10px;
            }
        }
    }
}
.header{
    display: flex;
}

.menu{
    display: flex;
    li{
        a{
            display: block;
            margin-left: auto;
        }
        a.active{
            background: pink;
        }
        padding: 10px 15px;
    }
    margin-left: auto;
}

.primary{
    background: $primary;
}
.h100{
    height: 100px !important;
}
.h200{
    height: 200px !important;
}




